<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Eletê</title>

  <link rel="icon" href="/images/logo-icon.png" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/page-landing.css" />
  <link rel="stylesheet" href="/css/animation.css" />
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet" />
</head>

<body>
  <div id="page-landing">
    <div id="container">
      <header>
        <img class="animate-up" src="/images/logo.png" alt="Logomarca de Eletê" style="width: 300px; height: 150px" />
      </header>

      <main>
        <h1>Ajude um peludo a encontrar seu lar definitivo</h1>

        <section class="find">
          <p class="animate-up">
            Seja o lar temporário de um peludo e ajude-o a encontrar sua
            família definitiva.
          </p>

          <a class="animate-up" href="/lares" title="Ache lares temporários disponíveis">
            <img src="/images/arrow.svg" alt="Ir para o mapa" />
          </a>
        </section>
      </main>
    </div>
  </div>
</body>

</html>